body{
    background-image: url("backgroundOnly.png");
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    background-attachment: fixed;
}

.topEmpty{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    height: 35%;
    z-index: 1;
    margin-top: -50px;
    background-image: url("titleImg.png");
}

.completed{
    transition: 0.2s ease-in-out;
    position: relative;
    display: inline-block;
    color: #D7E9D0;
    font-size: 51;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #0F540F;
    font-weight: 600;
    
}

.ongoing{
    transition: 0.2s ease-in-out;
    position: relative;
    display: inline-block;
    color: #D7E9D0;
    font-size: 51;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #0F540F;
    font-weight: 600;
    opacity: 0.5;
}

.ongoing:hover{
    opacity:1;
}

.completed:hover{
    opacity:1;
}

.completedSection{
    position: absolute;
    height: 100%;
    width: 100%;
    
}

.ongoingSection{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.item{
    transition: 0.2s ease-in-out;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    max-width: fit-content;
    overflow: hidden;
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    text-align: left;
   max-height: fit-content;
   min-width: 0%;
   white-space: nowrap;
}

.item img{
    width: 251px;
    box-shadow: 0px 3px 16px black;
    
}

.item .name{
    transition: 0.2s ease-in-out;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 32;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #3B463B;
    font-weight: 600;
    top: 0;
    line-height: 1;
    width: 320px;
    white-space: normal;
}

.item .rating{
    position: relative;
    display: inline-block;
    color: #FFDD7E;
    font-size: 88;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #47540F;
    font-weight: 600;
    top: 0;
    line-height: 1.3;
}

.item .mainPart{
    margin-left: 10px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    text-align: left;
    white-space: normal;
}

.item .mainTop{
    transition: 0.2s ease-in-out;
    margin-left: 10px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    
}

.item .imageDiv{
    position: relative;
    display: inline-block;
}

.genres{
    transition: 0.2s ease-in-out;
    opacity: 0;
    margin-top: 10px;
    color: #D7E9D0;
    font-size: 18;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #3B463B;
    width: 251px;
    white-space: normal;
}
.item:hover{
    opacity: 1;
    transition: 0.2s ease-in-out;
    
  
}

.item:hover .mainTop{
    max-width: 100%;
}

.item:hover .genres{
    opacity: 1;
}

.item:hover .sypnosis{
    max-width: 450px;
    opacity: 1;
    position: relative;
    
}

.item:hover .name{
    max-width: 100%;
    
}

.item:hover .mainBottom{
    max-width: 100%;
    opacity: 1;
}





.sypnosis{
    
    transition: 0.2s ease-in-out;
    margin-left: 40px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    
}

.sypnosis{
    opacity: 0;
}

.sypnosis .title{
    color: #D7E9D0;
    font-size: 29;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #0F540F;
    font-weight: 600;
    text-align: left;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.sypnosis .description{
    margin-top: 10px;
    color: white;
    font-size: 24;
    font-family: 'Poppins', sans-serif;
    width: 421px;
    font-weight: 600;
    text-align: left;
    line-height: 1;
    padding: 10px;
}

.item .mainBottom{
    line-clamp: 1;
    transition: 0.2s ease-in-out;
    color: #FFDD7E;
    font-size: 27;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #47540F;
    font-weight: 600;
    text-align: left;
    word-wrap: none;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    
    
}

.item .numbering{
    vertical-align: top;
    position: relative;
    display: inline-block;
    color: #D7E9D0;
    font-size: 49;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 3px 16px #0F540F;
    font-weight: 600;
    margin-right: 30px;
    margin-top: 5%;
}

